@font-face {
	font-family: "IBM Plex Sans";
	font-weight: bold;
	src: url('./fonts/IBMPlexSans/IBMPlexSans-Bold.ttf');
}

@font-face {
	font-family: "IBM Plex Sans";
	font-weight: bold;
	font-style: italic;
	src: url('./fonts/IBMPlexSans/IBMPlexSans-BoldItalic.ttf');
}

@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 700;
	src: url('./fonts/IBMPlexSans/IBMPlexSans-Bold.ttf');
}

@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 700;
	font-style: italic;
	src: url('./fonts/IBMPlexSans/IBMPlexSans-BoldItalic.ttf');
}

@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 600;
	src: url('./fonts/IBMPlexSans/IBMPlexSans-SemiBold.ttf');
}

@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 600;
	font-style: italic;
	src: url('./fonts/IBMPlexSans/IBMPlexSans-SemiBoldItalic.ttf');
}

@font-face {
	font-family: "IBM Plex Sans";
    font-weight: normal;
	src: url('./fonts/IBMPlexSans/IBMPlexSans-Regular.ttf');
}

@font-face {
	font-family: "IBM Plex Sans";
    font-style: italic;
    font-weight: normal;
	src: url('./fonts/IBMPlexSans/IBMPlexSans-Italic.ttf');
}

@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 500;
	src: url('./fonts/IBMPlexSans/IBMPlexSans-Medium.ttf');
}

@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 500;
    font-style: italic;
	src: url('./fonts/IBMPlexSans/IBMPlexSans-MediumItalic.ttf');
}

@font-face {
	font-family: "IBM Plex Sans";
    font-weight: 400;
	src: url('./fonts/IBMPlexSans/IBMPlexSans-Regular.ttf');
}

@font-face {
	font-family: "IBM Plex Sans";
    font-weight: 400;
    font-style: italic;
	src: url('./fonts/IBMPlexSans/IBMPlexSans-Italic.ttf');
}

@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 300;
	src: url('./fonts/IBMPlexSans/IBMPlexSans-Light.ttf');
}

@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 300;
	font-style: italic;
	src: url('./fonts/IBMPlexSans/IBMPlexSans-LightItalic.ttf');
}

@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 200;
	src: url('./fonts/IBMPlexSans/IBMPlexSans-ExtraLight.ttf');
}

@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 200;
    font-style: italic;
	src: url('./fonts/IBMPlexSans/IBMPlexSans-ExtraLightItalic.ttf');
}

@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 100;
	src: url('./fonts/IBMPlexSans/IBMPlexSans-Thin.ttf');
}

@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 100;
    font-style: italic;
	src: url('./fonts/IBMPlexSans/IBMPlexSans-ThinItalic.ttf');
}
