@font-face {
	font-family: "IBM Plex Mono";
	font-weight: bold;
	src: url('./fonts/IBMPlexMono/IBMPlexMono-Bold.ttf');
}

@font-face {
	font-family: "IBM Plex Mono";
	font-weight: bold;
	font-style: italic;
	src: url('./fonts/IBMPlexMono/IBMPlexMono-BoldItalic.ttf');
}

@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	src: url('./fonts/IBMPlexMono/IBMPlexMono-Bold.ttf');
}

@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: italic;
	src: url('./fonts/IBMPlexMono/IBMPlexMono-BoldItalic.ttf');
}

@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 600;
	src: url('./fonts/IBMPlexMono/IBMPlexMono-SemiBold.ttf');
}

@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 600;
	font-style: italic;
	src: url('./fonts/IBMPlexMono/IBMPlexMono-SemiBoldItalic.ttf');
}

@font-face {
	font-family: "IBM Plex Mono";
    font-weight: normal;
	src: url('./fonts/IBMPlexMono/IBMPlexMono-Regular.ttf');
}

@font-face {
	font-family: "IBM Plex Mono";
    font-style: italic;
    font-weight: normal;
	src: url('./fonts/IBMPlexMono/IBMPlexMono-Italic.ttf');
}

@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 500;
	src: url('./fonts/IBMPlexMono/IBMPlexMono-Medium.ttf');
}

@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 500;
    font-style: italic;
	src: url('./fonts/IBMPlexMono/IBMPlexMono-MediumItalic.ttf');
}

@font-face {
	font-family: "IBM Plex Mono";
    font-weight: 400;
	src: url('./fonts/IBMPlexMono/IBMPlexMono-Regular.ttf');
}

@font-face {
	font-family: "IBM Plex Mono";
    font-weight: 400;
    font-style: italic;
	src: url('./fonts/IBMPlexMono/IBMPlexMono-Italic.ttf');
}

@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 300;
	src: url('./fonts/IBMPlexMono/IBMPlexMono-Light.ttf');
}

@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 300;
	font-style: italic;
	src: url('./fonts/IBMPlexMono/IBMPlexMono-LightItalic.ttf');
}

@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	src: url('./fonts/IBMPlexMono/IBMPlexMono-ExtraLight.ttf');
}

@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
    font-style: italic;
	src: url('./fonts/IBMPlexMono/IBMPlexMono-ExtraLightItalic.ttf');
}

@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 100;
	src: url('./fonts/IBMPlexMono/IBMPlexMono-Thin.ttf');
}

@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 100;
    font-style: italic;
	src: url('./fonts/IBMPlexMono/IBMPlexMono-ThinItalic.ttf');
}
