/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.nav-bar {
  font-family: "IBM Plex Mono", Helvetica, sans-serif;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  position: relative;
  z-index: 8;
  align-items: center;
  padding: 30px 70px;
  justify-content: space-between; }
.nav-bar a.nav-logo {
  margin-left: unset;
  text-align: center; }
.nav-bar a.nav-logo img {
  max-width: 140px; }
.light header {
  background-color: #f7f9fb; }

html {
  margin: 0;
  padding: 0; }

body {
  font-family: "IBM Plex Mono", Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0; }
body.light {
  color: #000000;
  background-color: #ffffff; }
body.dark {
  color: #ffffff;
  background-color: #000000; }
body p {
  font-size: 17px;
  font-weight: 400;
  line-height: 34px; }

.dark p {
  font-weight: 300; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 12px; }

h1 {
  margin-bottom: 15px; }

section {
  padding: 70px 0; }
section#blockchain {
  padding: 70px 0 25px 0; }

/* Chrome/Opera/Safari */
::-webkit-input-placeholder {
  color: #c2c2c2; }

/* Firefox 19+ */
::-moz-placeholder {
  color: #c2c2c2; }

/* IE 10+ */
::-ms-input-placeholder {
  color: #c2c2c2; }

/* Firefox 18- */
::-moz-placeholder {
  color: #c2c2c2; }

h1 {
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  line-height: 75px;
  font-size: 68px;
  font-weight: 600;
  margin-top: 0; }

h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  margin-bottom: 30px; }

h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  font-family: "IBM Plex Mono", Helvetica, sans-serif; }

h4 {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400; }

h5 {
  border: 1px solid #ffffff;
  display: block;
  margin: 0;
  padding: 0; }

.center-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  overflow: visible;
  padding: 0 180px;
  position: relative; }

.hero {
  max-width: 1064px;
  display: flex;
  flex: 1;
  flex-direction: row;
  text-align: left;
  align-items: center; }
.hero.no-split {
  flex-direction: column;
  align-items: center; }
.hero.no-split ul li {
  width: unset; }
.hero p a {
  color: #693AFA; }
.hero h4 {
  font-weight: normal; }
.hero ul {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify; }
.hero ul li {
  margin: 0 70px 12px 0;
  width: 300px; }
.hero ul h4 {
  font-weight: 600; }
.hero ul h4, .hero ul p {
  margin-bottom: 0; }

section .button {
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  line-height: 24px;
  text-decoration: none;
  padding: 16px 30px;
  border-radius: 5px; }
section a.button {
  color: white; }

.light .button, .default .button {
  background-color: #693AFA; }

.light .button:hover, .default .button:hover {
  background-color: #5630CD; }

.light .button {
  color: white; }

.default .button {
  color: #f7f9fb; }

.light .nav-links .button, .landing .nav-links .button, .default .nav-links .button {
  background-color: #050505 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#555555", endColorstr="#050505");
  border-color: #050505 #050505 black;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.79);
  -webkit-font-smoothing: antialiased; }

.dark .nav-links .button {
  background-color: white;
  color: black; }

section.light {
  background-color: white; }

section.default {
  background-color: #f7f9fb; }

body p {
  line-height: 24px;
  margin-bottom: 15px;
}

p.button-wrap {
  margin-top: 30px;
}

h2 {
  margin-bottom: 0;
}

.center-wrap .hero.no-split div {
  margin-bottom: 50px;
  width: 884px;
}

.center-wrap .hero.no-split textarea {
  background-color: #f7f9fb;
  border-radius: 3px;
  border: 1px solid grey;
  font-size: 17px;
  padding: 15px;
  width: 100%;
}


#footer .footer-caret-up, #footer .footer-caret-down {
  pointer-events: none; }

#footer {
  margin-top: 1em;
  margin: 0;
  height: auto; }

#footer div.footer-logo {
  display: none; }
#footer .links {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px; }
#footer .links a {
  margin-bottom: 0;
  padding-bottom: 26px; }
#footer .footer-wrap {
  flex-direction: row;
  max-width: 1300px;
  margin: 0 auto;
  padding: 42px 180px 70px;
  display: flex; }
#footer .footer-wrap h3 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 12px; }
#footer .footer-wrap nav {
  margin-right: 80px;
  width: 200px; }
#footer .footer-wrap nav .links {
  display: flex;
  flex-direction: column; }
#footer .footer-wrap nav .links a {
  text-decoration: none;
  font-size: 0.937em;
  font-weight: 500; }
#footer .footer-wrap > :last-child {
  display: flex;
  justify-content: flex-start; }
#footer .footer-wrap > p {
  color: rgba(194, 194, 194, 0.5);
  font-size: 12px;
  max-width: unset; }

#footer .bottom-wrap {
  display: flex;
  flex-direction: row;
  padding: 0px 70px;
  border-top: 1px solid rgba(71, 64, 104, 0.5);
  justify-content: space-between;
  align-items: center;
  font-size: 0.75em;
  min-height: 5em; }
#footer .bottom-wrap:last-of-type {
  border: unset; }
#footer .bottom-wrap a, #footer .bottom-wrap .copy {
  color: white; }
#footer h4 {
  font-weight: 100;
  font-size: 14px;
  color: white;
  padding: 0 70px;
  margin-top: 0; }

.dark #footer h3, .ownership #footer h3 {
  color: white; }

.dark #footer {
  background-color: black; }

.ownership #footer {
  background-color: #251C47; }

.landing #footer, .light #footer {
  background-color: black; }
.landing #footer h3, .light #footer h3 {
  color: white; }
.landing #footer .links a, .light #footer .links a {
  color: white; }

.social-icons, .social-icons-small-footer {
  display: flex;
  justify-content: space-between; }
.social-icons a, .social-icons-small-footer a {
  margin-left: 0;
  margin-right: 25px; }
.social-icons a img, .social-icons-small-footer a img {
  height: 26px; }

.coindrop-message-mobile {
  display: none; }

.header {
  display: flex; }
.header span {
  display: none; }
.header > h3 {
  flex: 1 0 auto;
  margin: 0;
  margin-bottom: 1.375em;
  font-size: 1.063em;
  color: #696589; }
.header a {
  color: white;
  text-decoration: none;
  font-weight: normal; }

@media (max-width: 900px) {
  #footer .bottom-wrap {
    align-items: flex-start;
    flex-direction: column;
    padding: 0 25px; }
  #footer .bottom-wrap a, #footer .bottom-wrap .copy {
    padding: 15px 0px; }
  #footer .footer-wrap {
    padding: 25px; } }
@media (max-width: 660px) {
  #footer {
    height: auto; }
  #footer h4 {
    padding: 15px 25px; }
  #footer .footer-wrap {
    padding: 0;
    flex-direction: column; }
  #footer .footer-wrap > * {
    width: 100%;
    padding: 0; }
  #footer .footer-wrap.bottom-wrap {
    padding: 0 25px 25px; }
  #footer .footer-wrap a {
    padding-bottom: 1.5em; }
  #footer .footer-wrap h3 {
    padding-left: 0;
    margin: 0;
    font-weight: 500; }
  #footer .footer-wrap nav {
    padding: 0;
    width: 100%; }
  #footer .footer-wrap nav .header {
    border-top: 1px solid rgba(71, 64, 104, 0.5); }
  #footer .footer-wrap nav .header span {
    display: initial; }
  #footer .footer-wrap nav .header span.hide {
    display: none; }
  #footer .footer-wrap nav .links {
    display: none; }
  #footer .footer-wrap nav .links.open {
    display: flex;
    padding-left: 1.7em;
    padding-right: 2em; }
  #footer .footer-wrap nav .header {
    cursor: pointer;
    padding-left: 1.5em;
    padding-right: 2em;
    padding-top: 1.5em;
    padding-bottom: 1.5em; }
  #footer .footer-wrap nav .header h3 {
    text-align: left; } }

.hide { display: none; }

#footer .bottom-wrap { margin: unset; }

.button-wrap a + a { margin-left: 35px; }

section#top {
  min-height: 450px;
}

@media(min-height: 1080px) {
  section#top {
    min-height: 775px;
  }
}

@media(min-height: 768px) {
  section#top {
    min-height: 459px;
  }
}

#error-box {
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  border-radius: 5px;
  color: #a94442;
  height: 80px;
  margin: 40px 0 0;
  padding: 10px;
}
